.slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slideAnimation 150s infinite;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
        transition-duration: 50s;
    }

    50% {
        transform: translateX(-10%) scale(1.3);
        opacity: 1;
        transition-duration: 50s;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
        transition-duration: 50s;
    }
}